<h1>Word Count</h1>
<p class="lead">Find out how many times a word occurs in a string of your choosing. Simply input your target word that you want to find the number of occurances for and the string you want to search through.</p>

<form action='/result'>
  <div class="form-group">
    <label for='target'>Enter your target word
      <input id='target' name='target' type='text'>
    </label>
  <div>
    <div class="form-group">
      <label for='string'>Enter your target word
        <input id='string' name='string' type='text'>
      </label>
    <div>
    <button type='submit'>Submit</button>
</form>
