<h2>Results</h2>
<div class="row">
  <div class="col-sm-6">
    <h3>You Searched for</h3>
    <div class="target_word">
      <h4><%= @target_word %></h4>
    </div>
  </div>
  <div class="col-sm-6">
    <h3>In the String</h3>
    <div class="string">
      <h4><%= @string %></h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2>=</h2>
    <p class="lead">The word <%= @target_word %> is in the string <%= @result %> times</p>
  </div>
</div>
