body {
  font-family: 'Noto Sans', sans-serif;
}
h1, h2, h3, h4, h5 {
  text-align: center;
}
h1, h2 {
  font-family: 'Concert One', cursive;
}
h3, h4, h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 12rem;
}
h2 {
  font-size: 10rem;
}
h3 {
  font-size: 6rem;
}
h4 {
  font-size: 5rem;
}
p.result {
  margin-bottom: 20px;
  font-size: 3.25rem;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
p.result span {
  font-weight: 500;
  font-family:'Concert One', cursive;
}
div.target_word, div.string {
  padding:30px 15px;
  background-color: rgba(230, 230, 230, 1);
}
button[type='submit'] {
  margin-top: 30px;
  font-family: 'Concert One', cursive;
  font-size: 2rem;
  float:right;
  padding: 20px;
  background-color: rgba(36, 214, 228, 1);
}
footer {
  margin-top: 60px;
  text-align: center;
}
